<footer class="relative  bg-blue-400 pt-8 pb-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-gray-600 font-semibold py-1">
          <button
            class="bg-white text-gray-900 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3"
            type="button"
          >
            <i class="flex fab fa-github"></i>
          </button>
          Github
        </div>
      </div>
    </div>
  </div>
</footer>
