<main class="bg-black">
  <div class="relative flex content-center items-center justify-center">
    <div class="absolute top-2 w-full h-full bg-center bg-cover">
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black"
      ></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1 class="text-white font-semibold text-5xl">
              Let's play spin Wheel Game
            </h1>
            <p class="mt-4 text-lg text-red-300">
              A spin wheel game is a popular game of chance where players spin a
              wheel to determine their Question of the day
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
      style="height: 70px"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-gray-300 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div> -->
  </div>

  <section class="relative py-20">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
      style="height: 80px"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 300"
        x="0"
        y="0"
      >
        <polygon
          class="text-white fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
    <div class="container mx-auto px-0">
      <div class="items-center flex flex-wrap">
        <div class="md:w-4/12 ml-auto mr-auto pl-0">
          <div
            class="relative flex flex-col min-w-0 break-words w-full mb-6 rounded-lg shadow-xl ring-blue-500"
          >
            <ngx-wheel
              #wheel
              [width]="750"
              [height]="750"
              [spinDuration]="2"
              [spinAmount]="30"
              [items]="items"
              [innerRadius]="30"
              [textOrientation]="textOrientation"
              [textAlignment]="textAlignment"
              pointerStrokeColor="black"
              pointerFillColor="gold"
              [idToLandOn]="idToLandOn"
              (onSpinStart)="before()"
              (onSpinComplete)="after()"
            ></ngx-wheel>
          </div>
        </div>
        <div
          class="w-full items-center md:w-5/12 ml-auto pr-2 relative flex flex-col"
        >
          <div class="md:pt-4">
            <div
              class="bg-gray-300 border-gray-400 border-2 pt-1 rounded-lg shadow-xl ring-blue-500"
            > <div *ngIf = randomQuestion>
              <h2 class="text-3xl font-semibold mx-4">
                Hey {{ selectedName }},
              </h2>
              <p class="text-gray-600 italics text-3xl font-bold ml-3 mt-6 mb-8">
                {{ randomQuestion }}
              </p>
            </div>
              <button
                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mx-4 my-2"
                (click)="spin()"
              >
                Spin
              </button>
              <button
                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mx-4 ml-4"
                (click)="getRandomQuestion()"
              >
                Click to View Your Question
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
