.body{

    opacity: 20%;

}

.a{

    height: auto;

    width: auto;

}

 

.circle1{

    z-index: -1;

    position: absolute;

    top: -110px;

    left:-100px;

    height: 600px;

    width: 600px;

    border-radius: 0px 50% 50% 50%;

    background: rgb(248, 222, 180);

    background: linear-gradient(90deg, rgba(200,174,131,1) 0%, rgba(234, 224, 208, 0.7) 19%, rgba(244, 243, 242, 0.5) 65%, rgba(179,127,42,.3) 94%, rgba(250, 247, 245, 0.1) 100%); 

    background: radial-gradient(circle, rgba(200,174,131,1) 0%, rgba(200,163,103,1) 19%, rgba(185,143,75,.6) 65%, rgba(255, 248, 237, 0.4) 94%, rgba(236, 229, 219, 0.2) 100%);

    opacity: 60%;

}

 

.circle2{

    position: absolute;

    z-index: -1;

    bottom:-300px;

    left: 200px;

    height: 600px;

    width: 600px;

    border-radius: 50% 50% 0px 0px;

    background: rgba(231, 227, 34, 0.468);

    background: linear-gradient(90deg, rgb(249, 195, 109) 0%, rgba(238, 183, 96, 0.7) 19%, rgba(185,143,75,.5) 65%, rgba(222, 185, 136, 0.3) 94%, rgba(234, 199, 144, 0.1) 100%); 

    background: radial-gradient(circle, rgb(236, 234, 189) 0%, rgb(239, 231, 92) 19%, rgba(186, 176, 135, 0.986) 65%, rgba(229, 221, 207, 0.4) 94%, rgba(235, 196, 137, 0.2) 100%);

    opacity: 60%;

}